    .search-container {
      max-width: 33%;
      margin: auto;
    }

    .container {
      margin-top: 20px;
    }

        table {
            width: 50%;
            margin: auto;
            margin-top: 50px;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        .btn-custom-width {
            width: 50%;
        }

    .form-group {
      width: 33%;
    }